/* forms.css
   Cormac Kelly
   Purpose:Form specific styles
*/
input:invalid, select:invalid{
  border-color:#dc3545;
}
input:valid, select:valid{
  border-color:#198754;
}
#formMessage.error{ color:#dc3545; }
#formMessage.success{ color:#198754; }
